.flip_card {
  @apply w-full h-full;
  perspective: 40rem;
}

.flip_card_body {
  /* Do not do `overflow-hidden` - will break the flip*/
  @apply relative h-full w-full border border-white border-opacity-10;
  @apply hover:drop-shadow-lg hover:shadow-2xl;
  @apply md:flex-row;

  transform-style: preserve-3d;
  transition: 1s transform, 0.5s box-shadow;
}

.rotate .flip_card_body {
  transform: rotateX(-180deg);
}

.flip_card_front {
  @apply relative h-full w-full;
  transition: 1s opacity;
}

.rotate .flip_card_front {
  opacity: 0;
  transition: 1s opacity;
}

.flip_card_back {
  @apply absolute top-0 right-0 bottom-0 left-0 opacity-0 transform; /* bg-black;*/

  transform: rotateX(-180deg);
  transition: 1s opacity;
}

.rotate .flip_card_back {
  opacity: 1;
  transition: 1s opacity;
}

.flip_card_front,
.flip_card_back {
  backface-visibility: hidden;
}
