.ribbon {
  @apply w-full flex flex-wrap gap-4 justify-end items-center mt-12 py-4 px-2 leading-none tracking-wider;
  background-image: linear-gradient(to right, #0e1115 0%, #232525 100%);

  /* @screen xl */
  @apply xl:w-auto xl:gap-8 xl:absolute xl:right-0 xl:top-20 xl:mt-2 xl:py-2 xl:pl-6 xl:pr-10;
}

.ribbon__token {
  @apply p-2 rounded-md bg-blue-900 bg-opacity-25 text-blue-400;
}

.ribbon__datablock {
  @apply flex gap-2 xl:gap-4 items-center;
  min-width: 150px;
}

@screen xl {
  .ribbon__datablock {
    min-width: 250px;
  }
}
